/*--------------------------*/
/*          Navbar          */
/*--------------------------*/

.navbar {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);

  box-shadow: var(--bs-md);

  padding: var(--spacing-lg) var(--GLOBAL-PADDING);

  width: 100%;
  background-color: var(--color-secondary);

  opacity: 0;
  transform: translateY(-10px);
  animation: fadeSlideDown 0.4s ease-out forwards;
  animation-delay: 0.1s;
}

.navbar a {
  text-decoration: none;
}

.navbar_brand {
  font-weight: 700;
  text-decoration: none;
  font-size: var(--fs-subheading);
  line-height: var(--fs-subheading);

  color: var(--color-primary);
}

.navbar_links {
  display: flex;
  align-items: center;

  gap: var(--spacing-md);

  height: 100%;

  list-style-type: none;
}

.navbar_linkItem {
  font-weight: 500;
  text-decoration: none;
  font-size: var(--fs-body);
  line-height: var(--fs-body);

  color: var(--color-primary);

  transition: 0.2s;

  &:hover {
    color: var(--color-brand);
  }
}

.navbar_linkItemSelected {
  color: var(--color-brand);
}

@keyframes fadeSlideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
